dom-module#etymog-cognate-list
  template
    .ui.list
      template(is="dom-repeat", items="{{data}}")
        .item {{item}}
  script.
    Polymer({
      is: 'etymog-cognate-list',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[etymog:COGNATE-LIST]', '_load', uri, back);
        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(self.src, function(data) {
          self.data = _.shuffle(data);
        });
      }
    });