dom-module#etymog-entry-card
  template
    .content
      a.header(href="{{data.link}}") {{data.text}}
      .meta
        .right.floated.time {{data.created}}
        .category
          span {{data.language}}
          |  &middot; 
          span {{data.pronunciation}}
      .description
        p {{data.definition}}
        h4.header Cognates
        etymog-cognate-list(src="{{data.link}}/cognates")
    .extra.content
      pre {{data}}
  script.
    Polymer({
      is: 'etymog-entry-card',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[etymog:ENTRY-CARD]', '_load', uri, back);
        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(uri, function(data) {
          console.log('[etymog:ENTRY-CARD]', 'retrieved:', data);
          self.data = data;
        });
      }
    });