dom-module#etymog-family-index
  template
    .ui.text.container
      h2.header
        span {{data.length}}
        |  Language Families
    .ui.text.container
      .ui.card
        .content
          etymog-family-creator
        etymog-family-list(src="/families")

  script.
    Polymer({
      is: 'etymog-family-index',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[ETYMOG:FAMILY-INDEX]', '_load', uri, back);
        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(self.src, function(data) {
          self.data = _.shuffle(data);
        });

      },
      ready: function() {
        console.log('[ETYMOG:FAMILY-INDEX]', 'ready');
      }
    });
