dom-module#etymog-family-card
  template
    .content
      a.header(href="{{data.link}}") {{data.name}}
      .meta
        .right.floated.time {{data.created}}
        .category
          span {{data.name}}
          |  &middot;
          span {{data.name}}
      .description
        p {{data.date}}
        h4.header Timeline
        p {{data.start}}
  script.
    Polymer({
      is: 'etymog-family-card',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[etymog:FAMILY-CARD]', '_load', uri, back);
        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(uri, function(data) {
          console.log('[etymog:FAMILY-CARD]', 'retrieved:', data);
          data.raw = JSON.stringify(data, '  ');
          self.data = data;
        });
      }
    });
