dom-module#etymog-language-creator
  template
    form.ui.form#form(action="/languages", method="POST")
      .field
        label(for="name") Name
        input.input(type="text", name="name")
      .field
        label(for="family") Family
        maki-dropdown(src="/family")
          i.dropdown.icon
          .default.text Language
          .menu
      .field
        label(for="date[start]") Timeline Start
        input.input(type="text", name="start")
      .field
        button.ui.right.floated.green.button(type="submit")
          i.add.icon
          | Create
  script.
    Polymer({
      is: 'etymog-language-creator',
      attached: function() {
        $('.dropdown').dropdown();
      }
    });
