dom-module#etymog-pitch
  template
    h1.ui.inverted.header {{pitch}}
    h2.ui.inverted.header {{mission}}
    
    .content.top-padded
      etymog-entry-list(src="/entries?sort=random&amp;limit=1")
  
  script.
    Polymer({
      is: 'etymog-pitch',
      properties: {
        pitch: { type: String },
        mission: { type: String },
        cta: { type: Object },
      },
      ready: function() {
        console.log('[MAKI:PITCH]', 'ready');
      },
    });
